@font-face {
    font-family: 'Roboto Medium';
    src: url('./myfonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('./myfonts/Roboto-Thin.ttf');
}

body{
    margin: 0;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
    
}

.top-header-right{
    float: right;
}
 .top-header-block{
     width: 1278px; 
     margin: 0 auto;
    
} 

.bottom-header-block{
    width: 1278px;
  
    margin: 0 auto;
    height: 57px;
}

.top-header{
    
    display: flex;
    background-color: rgb(245, 234, 234);
    margin: 0 auto;
    height: 50px;
}
.top-header-left{
    display: flex;
    color:rgb(109, 108, 108);
    width: 196px;
    padding-top: 14px;
}
.imgSite{
    font-size: 15px; 
}

.top-header-right{
    height: 60px;
    width: 600px;
}
.top-header-right ul{
    float: right;
    margin-right: 20px;
    margin-top: -33px;
}
.top-header-right ul li{

    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    color:rgb(109, 108, 108);
    

}
.top-header-right ul li a{
    color:rgb(109, 108, 108);
    text-decoration: none;
}

.main-content-left-menu{
    height: 60px;
    width: 100%;
    font-size: 16px;
    padding-top: 28px;
}


.main-content-left-menu ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
.main-content-left-menu ul li a{
    color:rgb(6, 6, 112);
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

.searchimg{
    padding-top: 5px;
    transform: rotate(90deg);
}


/*********************************************/
.bottom-header{
    
    display: flex;
}

.bottom-header-right{
    height: 60px;
    width: 100%;
    font-size: 16px;
}
.bottom-header-left{
    color: rgb(6, 6, 112);
    font-size: 28px;
    line-height: 50px;
    /* margin-left: 20px; */
    padding: 0 20;
    width:220px;
}
.bottom-header ul{
    float: right;
    margin-right: 20px;
    margin-top: -53px;
}
.bottom-header ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
.bottom-header ul li a{
    color:rgb(6, 6, 112);
    text-transform: capitalize;
    text-decoration: none;
}

.notification{
    
    background-color: tomato;
    border: 3px  black;
    padding: 20px;
    color: aliceblue;
    box-shadow: 6px 5px 15px -5px grey;

}

.nofication-block{
    width: 1376px;
    margin: 0 auto;
}

.noti-icon{
    background-color:white;
    color: tomato;
    padding: 2px 6px;
    border-radius: 50%;
    
}

.cross{
    float: right;
}

main.main{
    display: flex;
    max-width: 1272px;
    margin: 0 auto;
}

.main-content-left{
    
    margin:5px;
    padding-right : 5px;
    width:70%;
    height: fit-content;
}

.main-content-right{
   
    width: 30%;
    background-color: #eee;
    padding-top: 30px;
    margin-top: 9px;
   
}

.block-heading{
    margin: 0 10px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    font-size: 27px;
    color: #00095b;

}
.widget-list{
    margin: 10px 16px;
    padding: 0;
}

.widget-item{
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.widget-title
{
    width: 100%;
    margin-top: -16px;
    font-size: 15px;
    margin-left:5px;
    color: #00095b;

}
.widget-subHeading-title{
    margin-top: -13px;
}
.bottomList{
    background-color: #eee;
}
.listItem1 ul{
    list-style: none;
}
.listItem1 ul li a{
    list-style: none;
    text-decoration: none;
    color: #00095b;
}

.main-content-left-menu{
    margin-top: -37px;
    margin-left: -42px;
}

.main-content-left-menu ul{ 
    margin-right: 20px;  
}

.main-content-left-menu span {
    
    border-bottom: 3px solid #00095b;
  }

.main-content-left-menu ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
.main-content-left-menu ul li a{
    color:rgb(6, 6, 112);
    text-transform: capitalize;

}

.main-content-left-menu ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 100%;
    left: 0;
    
  }
  .main-content-left-menu ul li a:hover {
    color:navy;
    border-bottom: 3px solid #00095b;
    height: 10px;
    
  }
  .main-content-left-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .upcoming-holiday{
    display: flex;
    box-shadow: 7px 9px 9px -9px black;
  }

  .todays-highlight{
    margin-left: 15px;
    color: rgb(107, 106, 106);
    font-family: monospace;
    font-weight: bold;
    margin-top: 18px;
  }

  .holiday-heading{
    margin: 0px;
    padding: 0px;
    color:navy;
    padding-bottom: 16px;
    font-size: 27px;

}

.holiday-para{

    font-family: inherit;
    font-size: 17px;
    margin-top: -6px;
}

.holiday-archive{
    color:navy;
    font-size: 16px;

}

.holiday-media, .video-media{
    display: flex;
    list-style: none;
    border-top: 1px solid rgb(192, 190, 190);
    position: absolute;
    font-size: 15px;
   
}

.holiday-media ul li{
    display: inline-block;
    line-height: 50px;
    margin: -14px -1px;
    width:9em;
    color:rgb(6, 6, 112);
    
}
.video-media ul li{
    display: inline-block;
    line-height: 50px;
    margin: -14px -1px;
    width:13.5em;
    color:rgb(6, 6, 112);
    
}
.announcement-block{

    display: flex;
    font-family: Roboto Thin;
   

}
.announcement-heading, .video-heading, .news-text, .trend-heading{
    font-weight: bold;
    font-size: 24px;
    margin-top: 37px;
    margin-bottom: 5px;
    color: #00095b;
}
.announcement-left{
    margin-right: 20px;
}

.announcement-left, .announcement-right{
    background-color: #00095b;
    width:50%;
    color:white;
    display: flex;
    align-items: center;
}

.announcement-img img{
    width: 100px;
    height: 100px;
    float: left;
}

.latest-news-navigation{
    text-align: center;
    margin-top: 9px;

}

.ann-navigation{
    text-align: center;
    margin-top: 22px;

}

.ann-navigation .fa-angle-left{
    background-color: gray;
}


.ann-navigation i {
   
    background-color: #00095b;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 0px 3px 5px 0px grey */
}

.ann-slide{
    font-size: 16px;
}

.announcement-details{
    margin-left: 15px;
  
}

.announcement-details i{
    
    background-color: white;
    color: #00095b;
    border-radius: 100%;
    padding: 1px 4px;
}

.latest-heading, .news-heading{
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0;
    color: #00095b;
}

.latest-news-block{
    
    display: flex;
   
}

.dropdown{
   
   margin-left: 453px;
   
   
    float: right;
}

.dropdown-content{
    padding: 7px;
    margin: 1px;
    width: 202px;
    margin-right: 18px;
    border: 1px solid #ccc;
}
.video-heading i {
   
    background-color: #00095b;
    color: white;
    font-size: 25px;
    padding: 1px 4px;
    border-radius: 15px;
}

.video-details{
    font-family: Roboto Thin;
    font-size: 17px;
    font-weight: bold;
    padding: 19px 0px;
    line-height: 24px;
}

.progressbar{
    width: 100px;
    height: 100px;;
}

.latest-news{

    /* border-bottom: 1px solid grey; */
    box-shadow: 7px 9px 9px -9px grey;
    padding-bottom: 5px;

   
}
.latest-news-navigation{

    text-align: center;
    margin-top: 9px;
}

.latest-news-navigation i {
   
    background-color: #00095b;
    color: white;
    padding: 7px 12px;
    margin-top: 50px;
    border-radius: 4px;
}

.latest-news-navigation .fa-angle-left{
    background-color: gray;
}

.ford-plus{
    
    background-image: url('./images/abswall.jpg');
    width: 870px;
    height: 300px;
    display: flex;
    margin-top: 46px;
    width: 100%;
}

.ford-left{
   
    color: white;
    padding: 36px 33px;
    width: 40%;
    font-family: Roboto Thin;
}

.ford-right img{
    width: 400px;
    height: 243px;
    padding: 30px 47px;
}

.button, .cutomizeBtn {
    background-color:white;
    border: none;
    color: #00095b;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 160px;
    height: 56px;
    border-radius: 40px;

  }


  .news-for-you{
    display: flex;
    margin-top: 34px;
  }


  .news-link{
    float: right;
    color: #00095b;
    font-size: 14px;
    margin-left: 463px;
    margin-top: 5px;
  }

  .news-img-block{
    display: flex;
    
    height: 260px;
    box-shadow: 0px 7px 12px -1px grey
  }

  .news-img img{
    height:260px;
    width: 259px;
  }
  .news-text{
    padding: 5px 20px;
    
  }
  .news-date{
    font-family: Roboto Thin;
    font-size: 12px;
    font-weight: bold;
    margin-top: -23px;
}

.other-ford-news{
    display: flex;
    margin-top: 23px;
    
    
}

.ford-news-box img{
    width:280px;
    padding: 5px;
}

.ford-news-box{
    
    font-family: Roboto Medium;
    font-size: 15px;
    color: #00095b;
    box-shadow: 0px 17px 19px -9px grey;

}

.ford-news-box p{
    padding: 0px 15px;
    box-shadow: 0px 0px 0px 0px gray;
    text-transform: capitalize;
    height: 78px;
    font-size: 19px;
}

.ford-news-media{
    display: flex;
    list-style: none;
    border-top: 1px solid rgb(192, 190, 190);
    position: absolute;
    margin-top: 30px;
   
}

.ford-news-media ul li{
    display: inline-block;
    margin: -10px -1px;
    width:4em;
    color:rgb(6, 6, 112);
    
}

.ford-news-date{
    font-family: Roboto Thin;
    font-size: 12px;
    font-weight: bold;
    margin-top: -5px;
    
}

.trending-block{
    margin-top: 77px;
}
.trend-heading{
    font-weight: bold;
}
.trend-icon {
   
    background-color: #00095b;
    color: white;
    padding: 5px;
    margin-top: 50px;
    border-radius: 10px;
}
.trend-list{
    display: flex;
    border-bottom: 1px solid rgb(165, 160, 160);
}
.trend-list-leftItem img{
    width: 200px;
}

.trend-list-rightItem{
    font-family: Roboto Medium;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}

.trend-smallHeading{

    font-family: Roboto Medium;
    font-size: 12px;
    font-weight: bold;
    margin-left: 1px;

}

.last-trend-box{
    background-color: rgb(243, 243, 243);
    height:50px;
    border-bottom: 1px solid grey;
}
.trend-footer{
    height: 100px;
}
.dotted-img{
text-align: center;
padding: 15px;
}

.dotted-img .fa{
    color: rgb(204, 203, 203);
}

footer{
    /* background-color: #eee; */
}
 .footer-last{
    background-color:#00095b;
    color:aliceblue;
    margin-left: 50px;

 }
 .footer-last-content{

    /* border: 1px solid white; */
    padding: 15px 10px;
    /* margin-left: 197px; */
    font-size: 15px;
 }
 .footer-last-block{
    background-color: #00095b;
    color: white;
    padding: 10px 5px;
 }
 .footer-last-menu ul{
    list-style: none;
    display: inline-block;
    

 }

 .footer-last-menu ul li{
    display: inline-block;
    padding: 0px 11px;
 }
 .footer-last-menu ul li a{
    text-decoration: none;
    color: white;
 }


 .bottomList{
    display: flex;
    max-width: 1260px;
    /* align-items: center; */
    /* margin-left: 186px; */

 }

 .bottom-list-block{
    background-color: #eee;
   
    max-width: 1272px;
    margin: 0 auto;
 }
 .listItem1{
    
    padding: 41px;
    margin-top: 30px;
    line-height: 30px;
    color: #00095b;
    font-family: Roboto Medium;
 }
 .keyLinks
 {
    margin-left: 41px;
    font-size: 23px;
    margin-top: -39px;
    color: #00095b;
 }

 .footer-icon{
    font-size: 33px;
    align-content: center;
    margin-left:-37px;
 }
 

 .chatButton {
    background-color:#00095b;
    box-shadow: 1px 4px 13px 0px grey;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    width: 160px;
    height: 56px;
    border-radius: 40px;
    margin-left: -40px;
  }
  


  .widget-box{
    background-color: #00095b;
    color: white;
    font-size: 17px;
    font-family: 'Roboto Thin';
    height: 131px;
    padding: 30px 32px;
    text-align: center;
  }
.footer-connect{
    margin-top: -32px;
    color: #00095b;
    font-size: 21px;
}

.footer-connect ul li{
    padding: 0px 0px;
}
.footer-email{
    margin-left: -38px;
}
.listItem1 .fa-arrow-up-right-from-square{
    color: gray;
}