@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Ubuntu&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: black;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
    cursor: pointer;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width: 50px;
    padding: 0 8px;
}
.container{
    min-height: 63vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round' sans-serif;
    display: flex;
    width: 70%;
    border-radius: 12px;
    margin: 23px auto;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

.bottom{
    position:sticky;
    color: white;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressbar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 50px;
    background-color: #7DB8FA;

    display: flex;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 30px;
    margin: 0 23px;
    border-radius: 20px;
}

.timestamp{
    margin: 0 23px;
   
}

.timestamp i{
    cursor: pointer;
}

.songItemsContainer{
    margin-top: 20px;
}
.songList h2{
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round' sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

footer{
    color: white;
    text-align: center;
}

#social{
    color: #7DB8FA;
    padding: 10px;
    cursor: pointer;
}