@font-face {
    font-family: 'Roboto Medium';
    src: url('./myfonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('./myfonts/Roboto-Thin.ttf');
}

@font-face{
    font-family: 'Roboto Regular';
    src: url('./myfonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('./myfonts/Roboto-Bold.ttf');
}


.google-main-block{
    border: 1px solid rgb(218, 217, 217);
    height: 548px;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
    display: flex;
}


.heading1{
    font-family: Roboto Regular;
    font-size: 22px;
    letter-spacing: 0.5px;
}
.heading2{
    font-family: Roboto Regular;
}
.google-img
{
    margin-left: -9px;
    margin-bottom: 9px;
}

.name-block{
    margin-top: 26px;
}

.left-block{

    
    width: 400px;
    height: 480px;
    padding: 10px;
    margin-top: 10px;
}
.right-block{
    
    padding-top: 20px;
    height: 380px;
    padding: 10px;
    margin-top: 106px;
}


.nameFirstLast{
    width: 49%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }

.uname{
        width: 99%;
        padding: 12px 20px;
        margin: 9px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; }

.name-block p{
color: rgb(180, 180, 180);
margin-top: 0px;
}

.unametxt{
    color: rgb(180, 180, 180);
    
    margin-top: -7px;
    margin-bottom: 19px;
}

.showPassTxt{
    color: rgb(68,43,100);
    font-family: Roboto Regular;
    font-size: 15px;
}

.buttonCalc {
    background-color:rgb(28,95,186);
    border:1px solid rgb(28,95,186);
    color: white;
    padding: 10px 25px;
    border-radius: 5px; 
}

.next-block{
 display: flex;
 margin-top: 17px;

}
.signIn {
 width: 314px; 
color: rgb(28,95,186);
margin-top: 9px;
font-weight: bold;
font-family: Roboto Regular;
}

.signIn a{
    width: 314px; 
   color: rgb(28,95,186);
   margin-top: 9px;
   font-weight: bold;
   font-family: Roboto Regular;
   text-decoration: none;
   }

.checkPass{
    margin-left: 0px;
   
    margin-top: 12px;
}
       
#nameErr, #userNameErr, #passErr{
    color: red;
   height: 20px;
}

#userNameErr{
    color: red;
   height: 20px;
   margin-top: -10px;
}


#successMsg{
    color: green;
    height: 20px;
    margin-top: -30px;
}
.last-block{
    display: flex;
    width: 700px;
    margin: 0px auto;
 }

 .last-rightBlock ul{
    list-style: none;
    display: flex;
     
 }

 .last-rightBlock ul li{
    justify-content: space-around;
    padding-right: 22px;
 }

 .last-rightBlock{
    font-family: Roboto Regular;
    font-size: 14px;
    color: rgb(131 124 124);
    margin-left: 278px;
 }
#language{
    padding: 10px;
    border: 1px solid rgb(218, 217, 217);
    border-radius: 10px;
    width: 212px;
    font-family: 'Roboto Regular';
    margin-left: -10px;
}
 .last-leftBlock{
    padding: 10px;
   
 }
 
