*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card img{
    height: 250px;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cart-container{
    margin-top: 75px !important;
}

.cart-container h1{
    text-align: center;
}

body{
    background-color: rgb(240, 240, 240);
}

.searchbar{
    position: relative;
}

.searchbar i{
    position: absolute;
   right: 4%;
   color: rgb(194, 192, 192);
   top: 25%;
    
}
.container{
    background-color:#fff;
    font-weight: 500;
}

.fa-sparkle{
    color: yellow;
}

.bg-nav-color{
    background-color: #fff;
}
.nav-item {
    padding:0px 5px;
    white-space: nowrap;
}

.cart-box{
    padding:0px 15px;
}

.img-menu{
    margin-top: 70px;
    height: 120px;
}